.copy {
    font-family: $caslon;

    &.sans-serif {
        font-family: $open-sans;
    }

    a {
        color: $dark-blue;
    }

    table {
        font-family: $open-sans;
        margin-top: 2rem;
        border-left: 1px solid $gray-200;
        width: 100%;
        table-layout: fixed;

        thead {
            background: $dark-blue;
            color: $white;
        }

        tr {
            &:nth-child(odd) td {
                background: $gray-50;
            }
        }

        th,
        td {
            font-size: 1rem;
        }

        th {
            text-align: left;
            padding: 0.75rem 1.5rem;

            & + th {
                border-left: 1px solid $dark-blue-950;
            }

            &:first-child {
                border-top-left-radius: 0.25rem;
            }

            &:last-child {
                border-top-right-radius: 0.25rem;
            }
        }

        td {
            border-right: 1px solid $gray-200;
            border-bottom: 1px solid $gray-200;
            padding: 1.5rem;

            ol {
                font-size: 0.875rem;
                padding-top: 0.75rem;

                li + li {
                    padding-top: 0.5rem;
                }
            }
        }
    }
}

.p1 {
    font-size: clamp(1.125rem, 1.4vw, 1.25rem);
    line-height: 1.5em;
}

.p2 {
    font-size: clamp(1rem, 1.2vw, 1.125rem);
    line-height: 1.5em;
}

.p3 {
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
}

.caption {
    padding-top: 0.5rem;

    p {
        font-size: clamp(0.75rem, 1vw, 0.8125rem);
        color: $mid-gray;
        font-style: italic;
    }
}

.copy {
    ul,
    ol {
        padding-top: 2rem;
    }
    li + li {
        padding-top: 0.5rem;
    }
}
