.events {
    padding: 4rem 0;
    background: $gray-50;
    border-top: 1px solid $gray-100;

    .info {
        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .events__list {
        padding-top: 3rem;

        @include desktop-small {
            grid-column: 4 / span 8;
        }
    }

    .event {
        & + .event {
            margin-top: 2rem;
            border-top: 1px solid #eee;
            padding-top: 2rem;
        }

        .date {
            font-weight: bold;
            color: $dark-blue;
        }
    }
}
