.info {
    .banner {
        grid-column: 1 / -1;
        background: #fff7d2;
        padding: 1rem;
        border-radius: 0.25rem;
        border: 1px solid #ffe66d;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        @include desktop-small {
            grid-column: 2 / span 12;
        }

        &__icon {
            background: #efd13e;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        &__copy {
            flex: 1;
            font-family: $open-sans;
            line-height: 1.4;
            margin: 0;
        }
    }

    &__details {
        padding-top: 3rem;
        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    &__form {
        grid-column: 1 / -1;
        padding-top: 3rem;
        padding-bottom: 4rem;

        @include desktop-small {
            grid-column: 2 / span 12;
        }
    }
}
