.cta {
    .btn {
        display: inline-block;
        background: $mid-blue;
        color: $white;
        border-color: $mid-blue-600;
        border-radius: 0.25rem;
        font-size: 1.25rem;
        font-weight: bold;
        padding: 16px 24px 14px 24px;
        box-shadow: 0 2px 8px rgba($black, 0.25);

        &:hover {
            background: $mid-blue-600;
            border-color: $mid-blue-700;
        }

        &.invert {
            background: transparent;
            color: $mid-blue;

            &:hover {
                background: $mid-blue;
                color: $white;
                border-color: $mid-blue;
            }
        }
    }

    .underline {
        font-weight: bold;
        font-size: clamp(0.875rem, 1vw, 1rem);
        font-style: italic;
        color: $mid-blue;
    }
}
