$white: #fff;
$off-white: #fafafa;
$mid-gray: #aaaaaa;
$black: #000;

$blue: #0076c0;
$gold: #b39034;

$teal: #00a3b8;
$orange: #e57526;

$gray-0: #ffffff;
$gray-50: #fafafa;
$gray-100: #efefef;
$gray-200: #dcdcdc;
$gray-300: #bdbdbd;
$gray-400: #989898;
$gray-500: #7c7c7c;
$gray-600: #656565;
$gray-700: #525252;
$gray-800: #464646;
$gray-900: #3d3d3d;
$gray-950: #292929;
$gray-1000: #000000;

$dark-blue-50: #eefaff;
$dark-blue-100: #dcf6ff;
$dark-blue-200: #b2efff;
$dark-blue-300: #6de4ff;
$dark-blue-400: #20d7ff;
$dark-blue-500: #00c3ff;
$dark-blue-600: #009ddf;
$dark-blue-700: #007db4;
$dark-blue-800: #006a94;
$dark-blue-900: #005172;
$dark-blue-950: #003751;

$green-50: #faffe5;
$green-100: #f1ffc7;
$green-200: #e3ff95;
$green-300: #cefe58;
$green-400: #b7f526;
$green-500: #97dc06;
$green-600: #7ab800;
$green-700: #588506;
$green-800: #47690b;
$green-900: #3c580f;
$green-950: #1e3201;

$mid-blue-50: #f0fafb;
$mid-blue-100: #d8eff5;
$mid-blue-200: #b6e1eb;
$mid-blue-300: #83cadd;
$mid-blue-400: #4aabc6;
$mid-blue-500: #3095b4;
$mid-blue-600: #297491;
$mid-blue-700: #275f77;
$mid-blue-800: #284f62;
$mid-blue-900: #254354;
$mid-blue-950: #142b38;

$light-blue-50: #f3f9fc;
$light-blue-100: #e6f3f8;
$light-blue-200: #c6e8f1;
$light-blue-300: #a3dbe8;
$light-blue-400: #5cbfd4;
$light-blue-500: #37a8c0;
$light-blue-600: #2789a2;
$light-blue-700: #206d84;
$light-blue-800: #1e5d6e;
$light-blue-900: #1e4d5c;
$light-blue-950: #14333d;

$dark-blue: $dark-blue-900;
$mid-blue: $mid-blue-500;
$light-blue: $light-blue-300;
$green: $green-600;
